

 
    <div class="blog-post">
        <h2 class="blog-post-title"><%= blog.title %></h2>
        <p><%= truncate(blog.body, length: 50) %></p>
        <p><small>Tags: <%= raw tag_links(blog.tag_list) %></small></p>
        <p><%= link_to "Read Post", blog_path(blog) %></p>
        <p><%= link_to "Edit", edit_blog_path(blog)%>
        <p><%= link_to "Delete", blog_path(blog), method: :delete, data: {confirm: 'Are you sure?'} %>
    
    </div>