<h1> Here to post new content</h1>
<%= form_with scope: :blog, url: blogs_path, local: true do |form| %>
<p>
<%= form.label :title %><br>
<%= form.text_field :title %>
</p>
<p>
<%= form.label :body %><br>
<%=form.text_area :body%>
</p>
<p>
<%=form.submit%>
</p>
<%end%>