
 
<%= form_with scope: :project, url: projects_path, local: true  do |form|%>
<% if @project.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> 
    <%end%>
<div class="form-group">
<%= form.label :title%>
<%= form.text_field :title, class: "form-control    "%>
</div>
<div class="form-group">
<%= form.label :description%>
<%= form.text_area :description, class: "form-control", rows: 15%>
</div>
<div class="form-group">
<%= form.label :github%>
<%= form.text_field :github%>
</div>
<div class="form-group">
  <%= form.text_field :stack_list %></p>
</div>
<%= form.file_field :main_image%>
<div class="form-group">
<%=form.submit%>
</div>
<% end%>

