<header class="masthead mb-auto text-center">
   <div class="inner">
      <h3 class="masthead-brand">James Hall</h3>
      <nav class="nav nav-masthead justify-content-center">
        <%=link_to "Home", root_path, class: "nav-link"%>
  <%= link_to "About", about_path, class: "nav-link"%>
  <%= link_to "Contact", contact_path, class: "nav-link"%>
  <%= link_to "Blog", blogs_path, class: "nav-link"%>
  <% if logged_in?(:site_admin)%>
  <%= link_to "Portfolio", projects_path, class: "nav-link"%>
  <%end%>
  <%# <%= loginBar 'nav-link'%> 
      </nav>
    </div>
  </header>