
      
<div class="col mb-4">
<div class="card  bg-dark text-white">
  <%=image_tag project.main_image.variant(resize_to_fit: [300,200]),class: "card-img" %>
  <div class="card-img-overlay">
    <h5 class="card-title"><%= link_to project.title, project_path(project) %></h5>
    <p class="card-text"><%= project.description %></p>
    <p class="card-text"><%= raw language_links(project.stack_list) %></p>
    <p class="card-text"><%=project.created_at%></p>
  </div>
</div>
 <% if logged_in?(:site_admin)%>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit this post", edit_project_path(project.id)%></button>
          <button type="button" class="btn btn-sm btn-outline-danger"><%= button_to "Delete Portfolio Item", project_path(project), method: :delete, data: {confirm: 'Are you sure?'} %></button>
        </div>
      <% end%>
</div>

