<!DOCTYPE html>
<html>
  <head>
    <title>Jdhall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    
    <div >
      <p class="notice"><%= notice%></p>
      <p class="alert"><%=alert%></p>
      <%= render "shared/nav"%>
      <!--Nav from blog
      <%= render "shared/blog_nav"%>
      end nav-->
      <!--blog header-->
      <%= render "shared/blog_masthead"%>       
      <div class="container">
        <div class="row">
          <%= yield %>
          <%= render "shared/blog_sidebar"%>
        </div>
      </div>
    </div>
     <%= sourceHelper%>
<%=render "shared/blog_footer"%>

    <%= render "shared/footer"%>
   
  </body>
</html>