<!DOCTYPE html>
<html>
  <head>
    <title>Jdhall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
  <!--navbar-->
  <%= render "shared/portfolio_nav"%>
  <!--end-->
  <!--Masthead-->
  <%= render "shared/portfolio_masthead" unless logged_in?(:site_admin)%>
  <!--end-->
  
  
  <p class="notice"><%= notice%></p>
  <p class="alert"><%=alert%></p>
  
 
    <%= yield %>
    
    <%= sourceHelper%>
<%=render "shared/blog_footer"%>

    <%= render "shared/footer"%>
   
  </body>
</html>